<?xml version="1.0" encoding="utf-8"?>
   <!--
      Copyright (c) 2010 Ronny Röhricht This file is part of Moloko. Moloko is
      free software: you can redistribute it and/or modify it under the terms of
      the GNU General Public License as published by the Free Software
      Foundation, either version 3 of the License, or (at your option) any later
      version. Moloko is distributed in the hope that it will be useful, but
      WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
      or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
      for more details. You should have received a copy of the GNU General
      Public License along with Moloko. If not, see
      <http://www.gnu.org/licenses/>. Contributors: Ronny Röhricht -
      implementation
   -->

<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   package="dev.drsoran.moloko"
   android:versionName="0.9.1b"
   android:versionCode="2">

   <uses-sdk
      android:minSdkVersion="5"
      android:targetSdkVersion="7" />

   <application
      android:name=".MolokoApp"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/Theme.Moloko"
      android:debuggable="true">

      <!-- Declare the default searchable Activity for the whole app -->
      <meta-data
         android:name="android.app.default_searchable"
         android:value=".activities.TaskSearchResultActivity" />

      <!-- Content Provider -->
      <provider
         android:name=".content.RtmProvider"
         android:authorities="dev.drsoran.provider.Rtm"
         android:syncable="true" />

      <provider
         android:name=".search.TasksSearchRecentSuggestionsProvider"
         android:authorities="dev.drsoran.moloko.search.TasksSearchRecentSuggestionsProvider" />

      <!-- Activities -->
      <activity
         android:label="@string/app_name"
         android:name=".activities.StartUpActivity"
         android:theme="@style/Theme.Moloko">
         <intent-filter>
            <action
               android:name="android.intent.action.MAIN" />
            <category
               android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>

      <activity
         android:label="@string/app_name"
         android:name=".activities.HomeActivity"
         android:theme="@style/Theme.Moloko">
      </activity>

      <activity
         android:label="@string/app_name"
         android:name=".activities.TasksListActivity"
         android:launchMode="singleTop">
         <intent-filter>
            <!-- Show a list of tasks -->
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.task" />
         </intent-filter>
         <intent-filter>
            <!-- Handle search queries -->
            <action
               android:name="android.intent.action.SEARCH" />
         </intent-filter>
      </activity>

      <activity
         android:label="@string/app_tasklists"
         android:name=".activities.TaskListsActivity">
         <intent-filter>
            <!-- Show an overview of task lists -->
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.list_overview" />
         </intent-filter>
         <intent-filter>
            <!--
               Show all lists of tasks and let the user pick one list. Returns
               the URI back.
            -->
            <action
               android:name="android.intent.action.PICK" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.list" />
         </intent-filter>
      </activity>

      <activity
         android:label="@string/app_name"
         android:name=".activities.TaskSearchResultActivity"
         android:launchMode="singleTop"> <!-- SingleTop due to searchable -->
         <intent-filter>
            <!-- Handle search queries -->
            <action
               android:name="android.intent.action.SEARCH" />
         </intent-filter>
         <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
      </activity>

      <activity
         android:label="@string/app_task"
         android:name=".activities.TaskActivity"
         android:theme="@style/Theme.Moloko.Task">
         <intent-filter>
            <!-- Show a single task -->
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.item/vnd.rtm.task" />
         </intent-filter>
      </activity>

      <activity
         android:label="@string/app_note"
         android:name=".activities.NoteActivity"
         android:theme="@style/Theme.Moloko.Note">
         <intent-filter>
            <!-- Show a single note -->
            <!-- Show all notes of a task -->
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.item/vnd.rtm.note" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.note" />
         </intent-filter>
      </activity>

      <activity
         android:label="@string/app_tagcloud"
         android:name=".activities.TagCloudActivity"
         android:theme="@style/Theme.Moloko">
      </activity>

      <activity
         android:label="@string/app_preferences"
         android:name=".activities.MolokoPreferencesActivity"
         android:theme="@style/Theme.Moloko.Preferences"
         android:excludeFromRecents="true">
      </activity>

      <activity
         android:label="@string/app_account_preferences"
         android:name=".auth.prefs.AccountPreferencesActivity"
         android:theme="@style/Theme.Moloko.Preferences"
         android:taskAffinity="android.system"
         android:launchMode="singleTask"
         android:noHistory="true"
         android:excludeFromRecents="true"
         android:exported="true">
         <intent-filter>
            <action
               android:name="dev.drsoran.moloko.auth.prefs.account.MAIN" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </activity>

      <activity
         android:name=".auth.AuthenticatorActivity"
         android:label="@string/rtm_full"
         android:theme="@style/Theme"
         android:excludeFromRecents="true" />

      <activity
         android:name=".auth.RtmWebLoginActivity"
         android:label="@string/rtm_full"
         android:theme="@style/Theme"
         android:excludeFromRecents="true" />

      <activity
         android:name=".activities.RtmSmartFilterTestActivity"
         android:label="Test RTM smart filter"
         android:excludeFromRecents="true" />

      <activity
         android:name="org.acra.CrashReportDialog"
         android:theme="@android:style/Theme.Dialog"
         android:launchMode="singleInstance"
         android:excludeFromRecents="true"
         android:finishOnTaskLaunch="true" />

      <activity
         android:name="com.xtralogic.android.logcollector.SendLogActivity"
         android:theme="@android:style/Theme.Translucent.NoTitleBar"
         android:excludeFromRecents="true">
         <intent-filter>
            <action
               android:name="com.xtralogic.logcollector.intent.action.SEND_LOG" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </activity>

      <!-- Services -->

      <service
         android:name=".auth.AuthenticationService"
         android:label="@string/svc_auth"
         android:exported="true">
         <intent-filter>
            <action
               android:name="android.accounts.AccountAuthenticator" />
         </intent-filter>
         <meta-data
            android:name="android.accounts.AccountAuthenticator"
            android:resource="@xml/authenticator" />
      </service>

      <service
         android:name=".service.sync.SyncService"
         android:label="@string/svc_sync"
         android:exported="true">
         <intent-filter>
            <action
               android:name="android.content.SyncAdapter" />
         </intent-filter>
         <meta-data
            android:name="android.content.SyncAdapter"
            android:resource="@xml/syncadapter" />
      </service>

      <!-- Broadcast receivers -->

      <receiver
         android:name=".receivers.SyncAlarmReceiver" />

      <receiver
         android:name=".receivers.NetworkStatusReceiver">
         <intent-filter>
            <action
               android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            <action
               android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </receiver>

      <receiver
         android:name=".receivers.BootReceiver">
         <intent-filter>
            <action
               android:name="android.intent.action.BOOT_COMPLETED" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </receiver>

      <receiver
         android:name=".receivers.TimeChangedReceiver">
         <intent-filter>
            <action
               android:name="android.intent.action.TIME_SET" />
            <action
               android:name="android.intent.action.DATE_CHANGED" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </receiver>

   </application>

   <uses-permission
      android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission
      android:name="android.permission.INTERNET" />
   <uses-permission
      android:name="android.permission.GET_ACCOUNTS" />
   <uses-permission
      android:name="android.permission.USE_CREDENTIALS" />
   <uses-permission
      android:name="android.permission.MANAGE_ACCOUNTS" />
   <uses-permission
      android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
   <uses-permission
      android:name="android.permission.WRITE_SETTINGS" />
   <uses-permission
      android:name="android.permission.READ_LOGS" />
   <uses-permission
      android:name="android.permission.READ_SYNC_STATS" />
   <uses-permission
      android:name="android.permission.READ_SYNC_SETTINGS" />
   <uses-permission
      android:name="android.permission.WRITE_SYNC_SETTINGS" />
   <uses-permission
      android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest> 
