<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2012 Ronny Röhricht This file is part of Moloko. Moloko 
   is free software: you can redistribute it and/or modify it under the terms 
   of the GNU General Public License as published by the Free Software Foundation, 
   either version 3 of the License, or (at your option) any later version. Moloko 
   is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
   without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR 
   PURPOSE. See the GNU General Public License for more details. You should 
   have received a copy of the GNU General Public License along with Moloko. 
   If not, see <http://www.gnu.org/licenses/>. Contributors: Ronny Röhricht 
   - implementation -->

<manifest
   xmlns:android="http://schemas.android.com/apk/res/android"
   package="dev.drsoran.moloko"   
   android:versionName="0.17.0b"
   android:versionCode="94208"
   android:installLocation="internalOnly">

   <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="15"/>
   
   <uses-permission
      android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission
      android:name="android.permission.INTERNET" />
   <uses-permission
      android:name="android.permission.GET_ACCOUNTS" />
   <uses-permission
      android:name="android.permission.USE_CREDENTIALS" />
   <uses-permission
      android:name="android.permission.MANAGE_ACCOUNTS" />
   <uses-permission
      android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
   <uses-permission
      android:name="android.permission.WRITE_SETTINGS" />
   <uses-permission
      android:name="android.permission.READ_LOGS" />
   <uses-permission
      android:name="android.permission.READ_SYNC_STATS" />
   <uses-permission
      android:name="android.permission.READ_SYNC_SETTINGS" />
   <uses-permission
      android:name="android.permission.WRITE_SYNC_SETTINGS" />
   <uses-permission
      android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   <uses-permission
      android:name="android.permission.VIBRATE" />
   <uses-permission
      android:name="android.permission.READ_CONTACTS" />
   <uses-permission
      android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   

   <application
      android:name=".MolokoApp"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"      
      android:theme="@style/Theme.Moloko"
      android:hardwareAccelerated="true"
      android:allowBackup="true">

      <!-- Content Provider -->
      <provider
         android:name=".content.RtmProvider"
         android:authorities="dev.drsoran.provider.Rtm"
         android:syncable="true"
         android:exported="false" />

      <provider
         android:name=".search.TasksSearchRecentSuggestionsProvider"
         android:authorities="dev.drsoran.moloko.search.TasksSearchRecentSuggestionsProvider"
         android:exported="false" />

      <!-- Activities -->
      <activity
         android:label="@string/app_name"
         android:name=".activities.StartUpActivity">
         <intent-filter>
            <action
               android:name="android.intent.action.MAIN" />
            <category
               android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>

      <activity
         android:label="@string/app_name"
         android:name=".activities.HomeActivity">
         <meta-data
            android:name="android.app.default_searchable"
            android:value=".activities.TaskSearchResultActivity" />
      </activity>

      <activity
         android:label="@string/app_name"
         android:name=".activities.TasksListActivity"
         android:theme="@style/Theme.Moloko.TasksList"
         android:exported="false"
         android:windowSoftInputMode="adjustResize">
         <intent-filter>
            <!-- Show a list of tasks -->
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.task" />
         </intent-filter>
         <intent-filter>
            <!-- Choose multiple tasks from a list of tasks -->
            <action
               android:name="android.intent.action.PICK" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.task" />
         </intent-filter>
         <meta-data
            android:name="android.app.default_searchable"
            android:value=".activities.TaskSearchResultActivity" />
      </activity>

      <activity
         android:label="@string/app_tasklists"
         android:name=".activities.TaskListsActivity"
         android:exported="false">
         <intent-filter>
            <!-- Show an overview of task lists -->
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.list_overview" />
         </intent-filter>
         <intent-filter>
            <!-- Show all lists of tasks and let the user pick one list. 
               Returns the URI back. -->
            <action
               android:name="android.intent.action.PICK" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.list" />
         </intent-filter>
         <meta-data
            android:name="android.app.default_searchable"
            android:value=".activities.TaskSearchResultActivity" />
      </activity>

      <activity
         android:label="@string/app_name"
         android:name=".activities.TaskSearchResultActivity"
         android:theme="@style/Theme.Moloko.TasksList"
         android:exported="false"
         android:launchMode="singleTop"> <!-- SingleTop due to searchable -->
         <intent-filter>
            <!-- Handle search queries -->
            <action
               android:name="android.intent.action.SEARCH" />
         </intent-filter>
         <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
      </activity>
      
      <activity
         android:label="@string/app_task"
         android:name=".activities.TaskActivity"
         android:theme="@style/Theme.Moloko.Task"
         android:exported="false"
         android:uiOptions="splitActionBarWhenNarrow">
         
         <!-- Show a single task -->
         <intent-filter>
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.item/vnd.rtm.task" />
         </intent-filter>
      </activity>
      
      <activity
         android:name=".activities.TaskEditActivity"
         android:theme="@style/Theme.Moloko.HomeAsUp.NoTitle"
         android:exported="false"
         android:uiOptions="splitActionBarWhenNarrow"         
         android:windowSoftInputMode="adjustResize">
         
         <!-- Edit a single task -->
         <intent-filter>
            <action
               android:name="android.intent.action.EDIT" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.item/vnd.rtm.task" />
         </intent-filter>
         
         <!-- Insert a new task -->
         <intent-filter>
            <action
               android:name="android.intent.action.INSERT" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.task" />
         </intent-filter>
      </activity>

      <activity
         android:name=".activities.TaskEditMultipleActivity"
         android:theme="@style/Theme.Moloko.HomeAsUp.NoTitle"
         android:exported="false"
         android:uiOptions="splitActionBarWhenNarrow"
         android:windowSoftInputMode="adjustResize">
         <intent-filter>
            <!-- Edit a list of tasks -->
            <action
               android:name="android.intent.action.EDIT" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.task" />
         </intent-filter>
      </activity>
      
      <activity
         android:name=".activities.NoteEditActivity"
         android:theme="@style/Theme.Moloko.HomeAsUp.NoTitle"
         android:exported="false"
         android:uiOptions="splitActionBarWhenNarrow"
         android:windowSoftInputMode="adjustResize">
         
         <!-- Edit a single note -->
         <intent-filter>
            <action
               android:name="android.intent.action.EDIT" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.item/vnd.rtm.note" />
         </intent-filter>
         
         <!-- Insert a new note -->      
         <intent-filter>
            <action
               android:name="android.intent.action.INSERT" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.note" />
         </intent-filter>
      </activity>
       
      <activity
         android:label="@string/app_contacts"
         android:name=".activities.ContactsListActivity"
         android:exported="false">
         <intent-filter>
            <!-- Show all contacts -->
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.contact" />
         </intent-filter>
      </activity>
      
      <activity
         android:label="@string/app_change_tags"
         android:name=".activities.ChangeTagsActivity"
         android:theme="@style/Theme.Moloko.ChangeTags"
         android:windowSoftInputMode="adjustResize"
         android:exported="false">
         <intent-filter>
            <!-- Pick tags -->
            <action
               android:name="android.intent.action.PICK" />
            <category
               android:name="android.intent.category.DEFAULT" />
            <data
               android:mimeType="vnd.android.cursor.dir/vnd.rtm.tags" />
         </intent-filter>
      </activity>

      <activity
         android:label="@string/app_tagcloud"
         android:name=".activities.TagCloudActivity">
      </activity>

      <activity
         android:label="@string/app_preferences"
         android:name=".prefs.activities.MainPreferencesActivity"
         android:excludeFromRecents="true"
         android:exported="false">
         <intent-filter>
            <action
               android:name="android.intent.action.VIEW" />
            <category
               android:name="android.intent.category.PREFERENCE" />
         </intent-filter>
      </activity>
      
      <activity
         android:label="@string/moloko_prefs_rtm_title"
         android:name=".prefs.activities.RtmPreferencesActivity"
         android:excludeFromRecents="true"
         android:exported="false">         
         <intent-filter>
            <action
               android:name="dev.drsoran.moloko.prefs.rtm.MAIN" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>         
      </activity>
      
      <activity
         android:label="@string/moloko_prefs_notification_title"
         android:name=".prefs.activities.NotificationPreferencesActivity"
         android:excludeFromRecents="true"
         android:exported="false">         
         <intent-filter>
            <action
               android:name="dev.drsoran.moloko.prefs.notification.MAIN" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>         
      </activity>
      
      <activity
         android:label="@string/moloko_prefs_general_title"
         android:name=".prefs.activities.GeneralPreferencesActivity"
         android:excludeFromRecents="true"
         android:exported="false">         
         <intent-filter>
            <action
               android:name="dev.drsoran.moloko.prefs.general.MAIN" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>         
      </activity>
      
      <activity
         android:label="@string/moloko_prefs_support_dev_title"
         android:name=".prefs.activities.DevelopmentPreferencesActivity"
         android:excludeFromRecents="true"
         android:exported="false">         
         <intent-filter>
            <action
               android:name="dev.drsoran.moloko.prefs.development.MAIN" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>         
      </activity>

      <activity
         android:label="@string/app_account_preferences"
         android:name=".prefs.activities.AccountPreferencesActivity"
         android:theme="@style/Theme.Moloko"         
         android:taskAffinity="android.system"
         android:launchMode="singleTask"
         android:noHistory="true"
         android:excludeFromRecents="true"
         android:exported="true">
         <intent-filter>
            <action
               android:name="dev.drsoran.moloko.prefs.account.MAIN" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </activity>

      <activity
         android:name=".auth.AuthenticatorActivity"
         android:label="@string/rtm_full"
         android:excludeFromRecents="true" />

      <activity
         android:name="org.acra.CrashReportDialog"
         android:theme="@style/Theme.Moloko.Dialog"
         android:launchMode="singleInstance"
         android:excludeFromRecents="true"
         android:finishOnTaskLaunch="true" />

      <activity
         android:name="com.xtralogic.android.logcollector.SendLogActivity"
         android:theme="@style/Theme.Moloko.SendLog"
         android:exported="false"
         android:excludeFromRecents="true">
         <intent-filter>
            <action
               android:name="com.xtralogic.logcollector.intent.action.SEND_LOG" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </activity>

      <!-- Services -->

      <service
         android:name=".auth.AuthenticationService"
         android:label="@string/svc_auth">
         <intent-filter>
            <action
               android:name="android.accounts.AccountAuthenticator" />
         </intent-filter>
         <meta-data
            android:name="android.accounts.AccountAuthenticator"
            android:resource="@xml/authenticator" />
      </service>

      <service
         android:name=".sync.SyncService"
         android:label="@string/svc_sync">
         <intent-filter>
            <action
               android:name="android.content.SyncAdapter" />
         </intent-filter>
         <meta-data
            android:name="android.content.SyncAdapter"
            android:resource="@xml/syncadapter" />
      </service>
      
      <service 
         android:name=".notification.MolokoNotificationService"
         android:label="@string/svc_notification"
         android:exported="false">
      </service>

      <!-- Broadcast receivers -->

      <receiver
         android:name=".receivers.SyncAlarmReceiver" />

      <receiver
         android:name=".receivers.BootReceiver">
         <intent-filter>
            <action
               android:name="android.intent.action.BOOT_COMPLETED" />
            <category
               android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </receiver>
  
   </application>

</manifest> 
